body
{
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 992px;
    
}
.divs
{
    border: 1px solid rgb(0, 0, 0);
    width: 60px;
    height: 60px;



}
h1{
    margin-bottom: 5px;
}

.buttonsContainer 
{

    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 5px;
}

.btn 
{
    color: #F5F0F6;
    font-size: 18px;
    background-color: rgb(70, 106, 160);
    font-weight: 700;
    padding: 10px;
    text-align: center;
    width: 100px;
    border: 2px solid rgb(119, 165, 187);
    border-radius: 8px;
}

.clear:active {

    filter: brightness(80%);
}

.size:active {

    filter: brightness(80%);


}